# SPDX-License-Identifier: GPL-2.0-only
config MA35D1_THERMAL
	tristate "MA35D1 Temperature Sensor"
	depends on ARCH_MA35D1
	help
	  This enables the thermal sysfs driver for the TSENS device. It shows
	  up in Sysfs as a thermal zone.

config MA35D0_THERMAL
	tristate "MA35D0 Temperature Sensor"
	depends on ARCH_MA35D0
	help
	  This enables the thermal sysfs driver for the TSENS device. It shows
	  up in Sysfs as a thermal zone.

config MA35H0_THERMAL
	tristate "MA35H0 Temperature Sensor"
	depends on ARCH_MA35H0
	help
	  This enables the thermal sysfs driver for the TSENS device. It shows
	  up in Sysfs as a thermal zone.
