# SPDX-License-Identifier: GPL-2.0-only
##
## MA35D1 series I2S API
##
config SND_SOC_MA35D1
	tristate "SoC Audio for MA35D1 series"
	depends on ARCH_MA35D1
	help
	  This option enables support for I2S on the MA35D1 SoC.

##
## Boards
##
config SND_SOC_MA35D1EVB
	tristate "MA35D1 I2S support for demo board"
	depends on SND_SOC_MA35D1
	select SND_SOC_NAU8822
	select SND_SOC_GENERIC_DMAENGINE_PCM
	help
	  Select this option to enable audio (I2S) on the
	  MA35D1 demoboard.

